#importing packages

In [165]:
import pandas as pd
import pickle
import numpy as np

#Loading dataset

In [166]:
df=pd.read_excel('J://Sree//SuperMarket-SentimentalAnalysis//project2.xlsx',sheet_name=0)

In [167]:
df

                                                Review  Liked
0                     One of the best super markets.      1.0
1    This is centrally located a superb market plac...    1.0
2             A complete area for your home shopping.     1.0
3    You can get everything of your need from fries...    1.0
4                                 The place was neat.     0.0
..                                                 ...    ...
221                                                NaN    NaN
222                                                NaN    NaN
223                                                NaN    NaN
224                                                NaN    NaN
225                                                       NaN

[226 rows x 2 columns]

In [168]:
df.dropna(inplace=True)

In [169]:
df

                                                Review  Liked
0                     One of the best super markets.      1.0
1    This is centrally located a superb market plac...    1.0
2             A complete area for your home shopping.     1.0
3    You can get everything of your need from fries...    1.0
4                                 The place was neat.     0.0
..                                                 ...    ...
212   All I have to say is the products was amazing!!!    1.0
213                Everything was fresh and delicious!    1.0
214  In summary, this was a largely disappointing s...    0.0
215  all thing are avilable at cheaper rate in this...    1.0
216  all things are available for buying like telev...    1.0

[217 rows x 2 columns]

#importing essential libraries for performing Natural Language Processing on dataset

In [170]:
import nltk
import re
nltk.download('stopwords')
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Kamesh\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

#cleaning the reviews

In [171]:
corpus=[]

In [172]:
for i in range(0,len(df['Review'])):
    #cleaning the special characters from the review
    reviews = re.sub(pattern='[^a-zA-Z]',repl=' ',string=df['Review'][i])
    
    # Converting the entire review into lower case
    review = reviews.lower()

    # Tokenizing the review by words
    review_words = review.split()
    
    # Removing the stop words
    review_words = [word for word in review_words if not word in set(stopwords.words('english'))]
    
    # Stemming the words
    ps = PorterStemmer()
    review = [ps.stem(word) for word in review_words]
    
    # Joining the stemmed words
    review = ' '.join(review)
    
    # Creating a corpus
    corpus.append(review)

In [173]:
len(corpus)

217

In [174]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer()
X = cv.fit_transform(corpus).toarray()
y = df.iloc[:, 1].values

In [175]:
# Creating a pickle file for the CountVectorizer
pickle.dump(cv, open('cv-transform.pkl', 'wb'))

In [176]:
# Model Building

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=0)

In [177]:
# Fitting Naive Bayes to the Training set
from sklearn.naive_bayes import MultinomialNB
classifier = MultinomialNB(alpha=0.2)
classifier.fit(X_train, y_train)

MultinomialNB(alpha=0.2, class_prior=None, fit_prior=True)

In [178]:
result=classifier.predict(X_test)

In [179]:
pred=np.array(y_test)

In [180]:
count=0

In [181]:
for i in range(len(result)):
    if result[i]==pred[i]:
        count=count+1

In [182]:
count

35

In [183]:
len(result)

44

In [184]:
35/44

0.7954545454545454

In [185]:

# Creating a pickle file for the Multinomial Naive Bayes model
filename = 'supermarket-sentiment-mnb-model.pkl'
pickle.dump(classifier, open(filename, 'wb'))